@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap&#39;')
:root{
--cor-de-fundo: #1E1E1E;
--verde: #fff;
--branco: #FFFFFF;
--botao-ativo: #3A375E;
--botao-inativo: #4C43BD;
--texto-fundo: rgba(58,55,94,0.3);
}

body{
background-color: var(--cor-de-fundo);
color: var(--branco);
font-family: "Chakra Pecth", sans-serif;
}

.titulo-principal span {
color: var(--verde);
}

.titulo-principal{
text-align: left;
width: 100%;
font-size: 32px;
}

.conteudo-principal{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 1240px;
width: 100%;
margin: 0;
}

.botao{
font-family: "Chakra Perch", sans-serif;
background-color: var(--botao-inativo);
color: var(--branco);
display: flex;
justify-content: center;
padding: 1em;
font-size: 18px;
align-items: center;
width: 100%;
border-bottom: 4px solid var(--botao-ativo);
border-left: 2px solid var(--botao-ativo);
border-right: 2px solid var(--botao-ativo);
border-top: none;
}


.botao:first-child{
border-radius: 40px 40px 0 0;
}

.botoes{
display: block;
}

.ativo{
background-color: var(--botao-ativo);
border-bottom: var(--verde);
}

.abas-textos{
background-color: var(--texto-fundo);
padding: 40px;
border-radius: 0 0 40px 40px;
}
.aba-conteudo.ativo{
display:block;
}

.aba-conteudo{
display: none;
}

.aba-conteudo-titulo-principal{
font-size: 28px;
text-align: center;
}
.aba-conteudo-titulo-secundario{
text-align: center;
color: var(--verde);
text-transform: uppercase;
}
 
.contador {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contador-digito{
    padding: 0 16px;
    text-align: center;
    min-width: 100px;
}
 .contador-digito-numero{
    font-size: 80px;
    margin: 0;
}
.contador-digito-texto{
    color: var(--verde);
    font-size: 20px;
    margin: 0;
}


@media screen and (min-width: 768px) {
.botoes{
display: flex;
}
.botao:first-child{
border-radius: 40px 0 0 0;
}
.botao:last-child{
border-radius: 0 40px 0 0 ;
}
}